<header class="header-section-desktop">
  <h1>{{ section.settings.text }}</h1>
  <p class="header-para">
    {{ section.settings.paragraph }}
  </p>
  <button class="header-btn">{{ section.settings.button }}
    <svg
      class="btn-arrow"
      xmlns="http://www.w3.org/2000/svg"
      fill-rule="evenodd"
      clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" /></svg>
  </button>
</header>

<header class="header-section-mobile">
  <img
    class="hamburger-menu"
    width="24px"
    height="24px"
    src="{{ 'hamburger-menu.svg' | asset_url }}"
    alt="Hamburger Menu" />

  <h1>{{ section.settings.text }}</h1>
  <p class="header-para">
    {{ section.settings.paragraph }}
  </p>
  <button class="header-btn">{{ section.settings.button }}
    <svg
      class="btn-arrow"
      xmlns="http://www.w3.org/2000/svg"
      fill-rule="evenodd"
      clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" /></svg>
  </button>
</header>

{% schema %}
  {
    "name": "header",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "TISSO VISION"
      }, {
        "type": "text",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "Find the ideal gift for your loved ones"
      }, {
        "type": "text",
        "id": "button",
        "label": "Button",
        "default": "CHOOSE GIFT"
      }
    ],
    "presets": [
      {
        "name": "Default header"
      }
    ],
    "limit": 1
  }
{% endschema %}
{% style %}
  h1 {
    font-family: 'Jost' !important;
  }

  .header-section-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #F5F5F5;
    align-items: center;
    height: 64px;
  }

  .header-para {
    font-size: 16px;
  }
  .header-btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    background-color: #FFF544;
    padding: 10px 15px;
    border: none;
    transition: all ease 0.8s;
    box-shadow: inset 0 0 0 0 #31302B;
  }
  .header-btn:hover {
    box-shadow: inset 200px 0 0 0 #000000;
    color: #FFFFFF
  }

  .header-btn .btn-arrow {
    fill: #000000;
  }

  .header-btn:hover .btn-arrow {
    fill: #FFFFFF
  }

  /* Desktop */
  @media screen and (min-width: 769px) {
    .header-section-mobile {
      display: none;
    }
  }

  /* Mobile */
  @media screen and (max-width: 768px) {

    .header-section-desktop {
      display: none;
    }

    .header-section-mobile {
      display: flex;
      align-items: center;
      background-color: #F5F5F5;
    }

    .header-section-mobile h1 {
      flex: 1;
      text-align: center;
      font-size: 24px;
    }
    .header-btn {
      display: none;
    }
    .header-para {
      display: none;
    }
  }

{% endstyle %}